<form method="POST" action="/signup">
    Name: <input type="text" name="username">
    Password: <input type="password" name="password">
    Repeat password: <input type="password" name="passwordRepeat">
    <button>Submit</button>
</form>
