<%- include("header.ejs") %>
<a href="/login">Have an account? Log in here</a>
<%- include("signupForm.ejs") %>

<%if (errors.length >= 1){ errors.forEach(message => { %>
    <p><%= message %></p>
<% })} %>

