<%- include("header.ejs") %>
<p>Planuję z tego zrobić city buildera</p>
<p>Poza dodawaniem budynków i sprawdzaniem poprawności wpisanych danych nic innego nie ma</p>
<form action="redirect" method="GET">
<button>Strona Główna</button>
</form>
</body>
</html>
