<h3>Dodaj Budynek</h3>
<form action="/add-building" method="POST">
X: <input type="text" name="x" required>
Y: <input type="text" name="y" required>
Nazwa Budynku: <input type="text" name="buildingType">
<button>Submit</button>
</form>
