<%- include("header.ejs") %>
<main>
  <h1><%= title %></h1>
  <div>
    <%- include("loginForm.ejs", form) %>
  </div>
  <span>Nie masz konta? <a href="/auth/signup">Zarejestruj się!</a></span>
</main>
