<%- include("header.ejs") %>
<form action="/login" method="POST" required>
Nazwa: <input type="text" name="name" required>
Hasło <input type="password" name="password">
<button>Submit</button>
</form>
</body>
</html>
